<!-- ----- début fragmentGeneMenu -->

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="router1.php?action=GeneAccueil">Nkam Oprah & Redondi Enzo</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
           aria-haspopup="true" aria-expanded="false">Famille <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="router1.php?action=famReadAll">Liste des familles</a></li>
          <li><a href="router1.php?action=famReadNom">Sélection d'une famille </a></li>
          <li><a href="router1.php?action=famCreate">Insertion d'une famille</a></li>

        </ul>
      </li>   
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
           aria-haspopup="true" aria-expanded="false">Evènement <span class="caret"></span></a>
        <ul class="dropdown-menu">            
          <li><a href="router1.php?action=eventReadAll">Liste des évènements</a></li>
          <li><a href="router1.php?action=eventInsert">Insertion d'un évènements</a></li>  
          
        </ul>
      </li>  
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
           aria-haspopup="true" aria-expanded="false">Lien <span class="caret"></span></a>
        <ul class="dropdown-menu">            
          <li><a href="router1.php?action=lienReadAll">Liste des liens</a></li>
          <li><a href="router1.php?action=lienInsertParent">Ajout d'un lien parent</a></li>
          <li><a href="router1.php?action=lienInsertUnion">Ajout d'un lien union</a></li>
          
        </ul>
      </li>  
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
           aria-haspopup="true" aria-expanded="false">Individu <span class="caret"></span></a>
        <ul class="dropdown-menu">            
          <li><a href="router1.php?action=indivReadAll">Liste des individus</a></li>
          <li><a href="router1.php?action=indivCreate">Ajout d'un lien individu</a></li>
          <li><a href="router1.php?action=indivInfo">Page d'un individu</a></li>
          
        </ul>
      </li> 
    </ul>
  </div>
</nav>

<!-- ----- fin fragmentGeneMenu -->

